<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<%-include('includes/navigation') %>

    <main>
        <% if(hasUsers) {%>
            <h1>User List</h1>
            <% for(let user of users) {%>
                <div class="grid">
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= user.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book">
                        </div>
                    </article>
                </div>
            <% } %>
        <% } else { %> 
        <h1>No Users </h1>
        <% }%>
<%-include('includes/end.ejs') %>